// Colors
$gentelella-green: #26B99A;
$gentelella-red: #d9534f;
// Tag variables
$color-tag: white;
$color-background-tag: #1ABB9C;
$container-height: 150px !important;
$color-tag-input: lightgrey;
$color-tag-input-focused: grey;
$color-text-input: black;
