<page-header [title]="'User detail'"></page-header>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Information</h2>
        <ul class="nav navbar-right panel_toolbox ">
          <!--<li><a class="btn btn-link" type="button" [routerLink]="'/users/:id/edit'.replace(':id', user.id)"><i class="fa fa-pencil"></i></a>-->
          <!--</li>-->
          <li><delete-button [description]="user.name" [entity]="'user'" [id]="user.id" (onConfirm)="deleteUser($event)"></delete-button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 right-text">First Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-7 col-xs-12">{{user.name}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 right-text">Last Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-7 col-xs-12">{{user.surnames}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 right-text">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="col-md-7 col-xs-12">{{user.email}}</div>
            </div>
          </div>
          <div class="ln_solid"></div>
          <!--<div class="form-group">-->
            <!--<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 center-text">-->
              <!--<button class="btn btn-primary" type="button" [routerLink]="'/users/:id/edit'.replace(':id', user.id)"><i class="fa fa-pencil"></i> Edit</button>-->
              <!--<delete-button [description]="user.name" [entity]="user" [id]="user.id" (onConfirm)="deleteUser($event)"></delete-button>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
