<page-header [title]="'Gestor de plantillas de email'"></page-header>

<div class="col-md-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Plantillas <small> elige una para tu campaña </small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <div class="row">

        <p>Media gallery design emelents</p>

        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask">
                <p>Your Text</p>
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p>Snow and Ice Incoming for the South</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask">
                <p>Your Text</p>
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p>Snow and Ice Incoming for the South</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask">
                <p>Your Text</p>
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p>Snow and Ice Incoming for the South</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask">
                <p>Your Text</p>
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p>Snow and Ice Incoming for the South</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask">
                <p>Your Text</p>
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p>Snow and Ice Incoming for the South</p>
            </div>
          </div>
        </div>


        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask no-caption">
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p><strong>Image Name</strong>
              </p>
              <p>Snow and Ice Incoming</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask no-caption">
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p><strong>Image Name</strong>
              </p>
              <p>Snow and Ice Incoming</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask no-caption">
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p><strong>Image Name</strong>
              </p>
              <p>Snow and Ice Incoming</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask no-caption">
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p><strong>Image Name</strong>
              </p>
              <p>Snow and Ice Incoming</p>
            </div>
          </div>
        </div>
        <div class="col-md-55">
          <div class="thumbnail">
            <div class="image view view-first">
              <img style="width: 100%; display: block;" src="assets/images/media.jpg" alt="image">
              <div class="mask no-caption">
                <div class="tools tools-bottom">
                  <a href="#"><i class="fa fa-link"></i></a>
                  <a href="#"><i class="fa fa-pencil"></i></a>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
              </div>
            </div>
            <div class="caption">
              <p><strong>Image Name</strong>
              </p>
              <p>Snow and Ice Incoming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
