//@import "/vendors/iCheck/skins/flat/green.css";
//@import "/vendors/select2/dist/css/select2.min.css";
.help-error-block{
  display: block;
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  color: #E74C3C;
  text-align: left;
}
